
$color : blue;


.r2xisom-app-1 {
    font-size: 20px;
}

.app-only-1 {
    font-size: 20px;
}

/*.common {*/
/*  background: #fff;*/
/*}*/
/**/

.app-item-a {
    font-size: 20px;
    color: red;

    &-c {
        background: #fff;
    }
}


.pc-test-b {
    color: red;
}







